@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-purple: #7B2E83;
  --color-brand-yellow: #FFD36A;
  --color-brand-dark: #2A0835;
  --color-brand-light: #FDFBFD;
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-display), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, monospace;
}

body {
  background-color: var(--color-brand-light);
  color: var(--color-brand-dark);
}
